# Merging Orders and Orders Prior

## Contents

### 01 Importing Libraries

### 02 Importing Data

### 03 Merging Data

### 04 Checking New Dataframe

### 05 Exporting Dataframe

## 01 Importing Libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

## 02 Importing Data

In [3]:
#creating path
path = r'C:\\Users\\samac\\Instacart Basket Analysis'

In [5]:
#importing final_prods_wrangled
df_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'final_products_wrangled.pkl'))

In [7]:
#importing final_orders_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'final_orders_products_combined.pkl'))

In [9]:
#checking df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
#checking df_ords_prods_combined
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,days_since_prior_order_flag,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,1,196,1,0,both
1,2539329,1,1,2,8,NaN,1,14084,2,0,both
2,2539329,1,1,2,8,NaN,1,12427,3,0,both
3,2539329,1,1,2,8,NaN,1,26088,4,0,both
4,2539329,1,1,2,8,NaN,1,26405,5,0,both

## 03 Merging Data

In [14]:
#dropping '_merge' column from df_ords_prods_combined
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [16]:
#checking df_ords_prods_combined
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,days_since_prior_order_flag,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,1,196,1,0
1,2539329,1,1,2,8,NaN,1,14084,2,0
2,2539329,1,1,2,8,NaN,1,12427,3,0
3,2539329,1,1,2,8,NaN,1,26088,4,0
4,2539329,1,1,2,8,NaN,1,26405,5,0

In [18]:
#merging df_prods and df_ords_prods_combined on 'order_id' column
ords_prods_merged = df_prods.merge(df_ords_prods_combined, on = 'product_id', indicator = True)

## 04 Checking New Dataframe

In [20]:
#checking df_merged_large shape
ords_prods_merged.shape

(32404859, 15)

In [22]:
ords_prods_merged.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,days_since_prior_order_flag,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,1,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,0,11,1,both
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,0,7,0,both
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,0,2,0,both
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,0,1,0,both
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,0,1,0,both
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,0,2,1,both
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,NaN,1,1,0,both
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,0,1,0,both
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,0,3,1,both
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,0,4,1,both
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,0,8,0,both
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,6.0,0,18,1,both
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,10.0,0,12,1,both
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,7.0,0,10,0,both
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,6.0,0,9,1,both
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,14.0,0,9,1,both

## 05 Exporting Dataframe

In [24]:
#exporting ords_prods_merged as 'final_orders_products_merged.pkl' pickle file

ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'final_orders_products_merged.pkl'))